<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">APPROVAL REQUEST</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" routerLink="/menuapproval">
                    <img src="https://img.icons8.com/bubbles/100/000000/approval.png" />

                    <h5>Menu Approval</h5>
                </div>
            </div>
            <!-- <div class="col-sm-4">
                <div class="card" routerLink="/walletpoints">
                    <img src="./assets/img/icons8-add-bookmark-150.png" alt="">
                    <h5>Wallet Points</h5>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" routerLink="/pincodes">
                    <img src="./assets/img/icons8-location-100.png" alt="" style="    height: 150px;">
                    <h5>Location</h5>

                </div>
            </div> -->
        </div>
    </div>

</div>