<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">

    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">ADMIN CREDENTIALS</h4>

            </div>

            <div class="col-sm-4">
                <button class="btn btn-primary" style="float: right;" routerLink="/addadmincredentials"> Add Admin Credentials</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <mat-table [dataSource]="dataSource" matSort>




                    <!-- SL NO Column -->
                    <ng-container matColumnDef="slno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>SL NO</mat-header-cell>
                        <mat-cell *matCellDef="let row;let i=index;"> {{i+1}} </mat-cell>
                    </ng-container>


                    <!--Email/usernameColumn -->
                    <ng-container matColumnDef="emailusername">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email / Username </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p *ngIf="row.role == '1'"> Master Admin</p>
                            <p *ngIf="row.role == '2'"> Location Admin</p>
                            <p *ngIf="row.role == '3'"> Master Admin</p>

                        </mat-cell>
                    </ng-container>


                    <!--Location Column -->
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Location </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p *ngIf="row.locationId !=null">{{row.locationId.location}} </p>
                            <p *ngIf="row.locationId ==null">Master Admin Credentials </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="password">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Password </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p>{{row.password}} </p>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator></mat-paginator>
            </div>
        </div>
    </div>
</div>