<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Edit Admin Credentials</h4>

            </div>
        </div>
        <form [formGroup]="editadmincredentialsFormRegistration">

            <div class="row">



                <div class="col-sm-4">
                    <label>Email / Username</label>
                    <input type="text" class="form-control" [disabled]="false" placeholder="Enter the Email / Username" [(ngModel)]="emailusername" (keyup)="onkeydown(emailusername)" formControlName="emailusername">

                </div>

                <div class="col-sm-4">
                    <label>Password</label>
                    <input type="password" class="form-control" [disabled]="false" placeholder=" Enter the Password " [(ngModel)]="password " (keyup)="onkeydown1(password) " formControlName="password">

                </div>

                <div class="col-sm-4">
                    <label for="">Location </label>

                    <select name="" id="" class="form-control" [(ngModel)]="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" formControlName="location">
                        <option value="" disabled selected>Choose a option </option>
                        
                    </select>
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>

                    </div>
                </div>




                <div class="col-sm-12">
                    <!-- <button class="btn btn-warning" (click)="submit()">SUBMIT</button> -->
                    <button class="btn btn-warning" (click)="submit()" [disabled]="isLoading"><i class="fa"
                        [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i>
                    {{button}}</button>
                </div>

            </div>
        </form>
    </div>

</div>