<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Add Chat Box</h4>

            </div>
        </div>
        <form [formGroup]="addchatboxFormRegistration">

            <div class="row">


                <div class="col-sm-6">
                    <label for=""> Location</label>

                    <select name="" id="" class="form-control" [(ngModel)]="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" formControlName="location">
                        <option value="" disabled selected>Choose a option </option>
                        <option *ngFor="let s of results" value="{{s._id}}" >{{s.location}}</option>
                    </select>
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <label for=""> Messages</label>
                    <input type="text" class="form-control" placeholder="Type the messages here" [(ngModel)]="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" formControlName="message">

                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">Messages is required</div>

                    </div>

                </div>


                <div class="col-sm-12">
                    <!-- <button class="btn btn-warning" (click)="submit()">SUBMIT</button> -->
                    <button class="btn btn-warning" (click)="submit()" [disabled]="isLoading"><i class="fa"
                        [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i>
                    {{button}}</button>

                </div>

            </div>
        </form>
    </div>

</div>