<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">

    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">SHOP CREDENTIALS</h4>

            </div>

            <div class="col-sm-4">
                <button class="btn btn-primary" style="float: right;" routerLink="/addshopcredentials"> Add Shop Credentials</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <mat-table [dataSource]="dataSource" matSort>




                    <!-- SL NO Column -->
                    <ng-container matColumnDef="slno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>SL NO</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.menuname}} </mat-cell>
                    </ng-container>


                    <!--Shop Name Column -->
                    <ng-container matColumnDef="sname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Shop Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.purchaserate}} </mat-cell>
                    </ng-container>

                    <!--Email/usernameColumn -->
                    <ng-container matColumnDef="emailusername">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email / Username </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.salesrate}} </mat-cell>
                    </ng-container>


                    <!--Action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.discountamount}} </mat-cell>
                    </ng-container>




                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator></mat-paginator>
            </div>
        </div>
    </div>
</div>