<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Edit Shop Credentials</h4>

            </div>
        </div>
        <form [formGroup]="editshopcredentialsFormRegistration">

            <div class="row">

                <div class="col-sm-4">
                    <label for="">Shop Name </label>

                    <select name="" id="" class="form-control" [(ngModel)]="sname" [ngClass]="{ 'is-invalid': submitted && f.sname.errors }" formControlName="sname">
                        <option value="" disabled selected>Choose a option </option>
                        <option value="">Adhitya</option>
                        <option value="">Blackforest</option>
                        <option value="">Anandbhavan</option>
                        <option value="">Hangout 514</option>
                        <option value="">Murali</option>
                    </select>
                    <div *ngIf="submitted && f.sname.errors" class="invalid-feedback">
                        <div *ngIf="f.sname.errors.required">Shop name is required</div>

                    </div>
                </div>


                <div class="col-sm-4">
                    <label>Email / Username</label>
                    <input type="text" class="form-control" [disabled]="false" placeholder="Enter the Email / Username" [(ngModel)]="emailusername" (keyup)="onkeydown(emailusername)" formControlName="emailusername">

                </div>
                <div class="col-sm-4">
                    <label>Password</label>
                    <input type="text" class="form-control" [disabled]="false" placeholder=" Enter the Password " [(ngModel)]="password " (keyup)="onkeydown1(password) " formControlName="password">

                </div>



                <div class="col-sm-12 ">
                    <button class="btn btn-warning " (click)="submit() ">SUBMIT</button>
                </div>

            </div>
        </form>
    </div>

</div>