<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">

    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">OFFERS</h4>

            </div>

            <div class="col-sm-4">
                <button class="btn btn-primary" style="float: right;" routerLink="/addoffers"> Add Offers</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <mat-table [dataSource]="dataSource" matSort>

                    <!--Image Column -->
                    <ng-container matColumnDef="menuimage">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Menu Image </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <img style="width: 100px;" src="{{apiurl}}offers/get/image/{{row._id}}" alt=""> </mat-cell>
                    </ng-container>


                    <!-- Menu Description Column -->
                    <ng-container matColumnDef="menudescription">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Menu Description</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.offr_desc}} </mat-cell>
                    </ng-container>


                    <!--Location Column -->
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.location_id.location}} </mat-cell>
                    </ng-container>

                    <!--Total Quantity to Purchase Column -->
                    <ng-container matColumnDef="totalquantitytopurchase">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Quantity to Purchase </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.No_users}} </mat-cell>
                    </ng-container>


                    <!--Price Column -->
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.offr_price}}

                        </mat-cell>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-success" (click)="edit(row)"><i class="fa fa-edit" style="color: white;"></i></button> &nbsp;
                            <!-- <button class="btn btn-dark"><i class="fa fa-trash" style="color: white;"></i></button>&nbsp; -->
                            <button class="btn btn-warning" (click)="active(row)" *ngIf="row.offr_state == 'Inactive'">Active </button>&nbsp;
                            <button class="btn btn-danger" (click)="inactive(row)" *ngIf="row.offr_state == 'Active'">In-Active </button>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator></mat-paginator>
            </div>
        </div>
    </div>
</div>