<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">SETTINGS</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" routerLink="/masteradminphonenumber">
                    <img src="./assets/img/icons8-phone-100.png" alt="" style="    height: 150px;">
                    <h5>Master Admin Phone Number</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" routerLink="/walletpoints">
                    <img src="./assets/img/icons8-add-bookmark-150.png" alt="">
                    <h5>Wallet Points</h5>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" routerLink="/pincodes">
                    <img src="./assets/img/icons8-location-100.png" alt="" style="    height: 150px;">
                    <h5>Location</h5>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" routerLink="/priceupdator">
                    <img src="./assets/img/icons8-price-tag-100.png" alt="" style="    height: 150px;">
                    <h5>Price Updater</h5>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" routerLink="/shopcredentials">
                    <img src="./assets/img/forgot-password.png" alt="" style="    height: 150px;">
                    <h5>Shop Credentials</h5>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" routerLink="/admincredentials">
                    <img src="./assets/img/admin-credentials.png" alt="" style="    height: 150px;">
                    <h5>Admin Credentials</h5>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" routerLink="/chatbox">
                    <img src="./assets/img/icons8-chat-bubble-100.png" alt="" style="    height: 150px;">
                    <h5>Chat Box</h5>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" routerLink="/upi">
                    <img src="./assets/img/upi.png" alt="" style="    height: 150px;">
                    <h5>UPI Credentials</h5>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" routerLink="/locationadminphonenumber">
                    <img src="./assets/img/location admin phn.png" alt="" style="    height: 150px;">
                    <h5>Location Admin Phone Number</h5>

                </div>
            </div>
        </div>

    </div>